<FluentCard AreaRestricted="false" class="mb-3">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
        <p class="fw-bold">Bộ lọc phân loại văn bản</p>
        <FluentSelect Items=@docYears OptionText="@(i => i.Text)" OptionValue="@(i => i.Value)" @bind-Value="@docYearValue" />
    </FluentStack>
    <FluentStack Orientation="Orientation.Horizontal" class="mt-2">
        <FluentStack Orientation="Orientation.Vertical" Width="50%">
            <FluentTextField @bind-Value="searchInput"
                             class="w-100"
                             Label="Từ khóa"
                             Placeholder="Nhập từ khóa..."
                             Appearance="FluentInputAppearance.Outline">
            </FluentTextField>
        </FluentStack>
        <FluentStack Orientation="Orientation.Vertical" Width="50%">
            <FluentSelect Items=@docTypeOptions
                          class="w-100"
                          Label="Loại văn bản"
                          OptionText="@(i => i.Text)"
                          OptionValue="@(i => i.Value)"
                          @bind-Value="@selectedCategory" />
        </FluentStack>
    </FluentStack>
    <FluentStack Orientation="Orientation.Horizontal" class="mt-4">
        <FluentButton Appearance="Appearance.Accent" Color="white" OnClick="@HandleSearchAsync">Tìm kiếm</FluentButton>
        <FluentButton OnClick="@HandleResetAsync">Làm mới</FluentButton>
    </FluentStack>
</FluentCard>

@code {
    [Parameter] public EventCallback<(string Search, string Category)> OnSearch { get; set; }
    [Parameter] public EventCallback OnReset { get; set; }

    private string searchInput = "";
    private string? selectedCategory = "";
    private string? docYearValue = "2026";

    static List<Option<string>> docTypeOptions = new()
    {
        new Option<string> { Value = "", Text = "-- Chọn --" },
        new Option<string> { Value = "Dự thảo", Text = "Dự thảo" },
        new Option<string> { Value = "Văn bản đến đơn vị", Text = "Văn bản đến đơn vị" },
        new Option<string> { Value = "Văn bản đến bộ", Text = "Văn bản đến bộ" }
    };

    static List<Option<string>> docYears = new()
    {
        new Option<string> { Value = "2026", Text = "2026" },
        new Option<string> { Value = "2025", Text = "2025" }
    };

    private async Task HandleSearchAsync()
    {
        await Task.Delay(50);
        await OnSearch.InvokeAsync((searchInput ?? "", selectedCategory ?? ""));
    }

    private async Task HandleResetAsync()
    {
        searchInput = "";
        selectedCategory = "";
        docYearValue = "2026";
        await OnReset.InvokeAsync();
    }
}